* {
  padding: 0;
  margin: 0;
}

:root {
  --red-main: #fb6d6c;
  --blue-main: #666f80;
  --blue-secondary: #c3c8d3;
  --white: #fff;
  --font: "Poppins", sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
}

main {
  position: absolute;
  min-height: 100%;
}


/* Messenger page */

/* Chats section */
.chats {
    width: 20%;
}

.chats .app-title-section a {
    text-decoration: none;
    color: black;
}

.chats .app-title-section h2 {
    font-weight: bold;
    font-size: 28px;
}

.chats .app-title-section span {
    color: var(--red-main);
}

.chats header a {
    color: var(--blue-main);
}

/* .chats form button {
    border: 1px solid var(--red-main);
} */