* {
  padding: 0;
  margin: 0;
}

:root {
  --red-main: #fb6d6c;
  --blue-main: #666f80;
  --blue-secondary: #c3c8d3;
  --white: #fff;
  --font: "Poppins", sans-serif;
}

main {
    min-height: 100%;
    font-family: var(--font) !important;
}

.search-content {
    width: 50%;
    min-height: 100%;
}

/* Header - search page */

header {
    height: 75px;
}

header a {
    color: black;
    text-decoration: none;
    margin-bottom: 0 !important;
}

header a.visible {
    display: none;
    padding-left: 15px;
    font-size: 18px;
}

header h2 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0 !important;
}

header h2 span {
    color: var(--red-main);
}

header form {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Explore section - search page */
.explore-content {
    display: grid; /* grid */
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.explore-content .image {
    height: auto;
    cursor: pointer;
}

/* Search results */
.match-result {
    height: 65px;
    cursor: pointer;
}

.match-result:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.match-result .profile-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.match-result h5 {
    font-weight: bold;
    font-size: 18px;
}

.match-result p {
    font-size: 13px;
    color: var(--blue-main);
}



/* Responsive Design */
@media screen and (max-width: 1000px) {
    .search-content {
        width: 100%;
    }
    .explore-content {
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width: 500px) {
    header a {
        display: none !important;
    }
    header a.visible {
        display: block !important;
        margin-right: 0px !important;
    }
    form {
        padding-left: 0px !important;
        padding-right: 10px !important;
    }
    .explore-content {
        grid-template-columns: auto auto auto;
    }
    .explore-content .image {
        height: auto;
    }
}