* {
  padding: 0;
  margin: 0;
}

:root {
  --red-main: #fb6d6c;
  --blue-main: #666f80;
  --blue-secondary: #c3c8d3;
  --white: #fff;
  --font: "Poppins", sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
}

main {
  position: absolute;
  min-height: 100%;
}

/* App navigation */
.navigation {
  width: 450px;
  height: 55px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.navigation a {
  color: var(--blue-main);
  text-decoration: none;
}

.navigation a i {
  font-size: 22px;
}

.navigation .profile-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navigation .play-container {
  background-color: var(--red-main);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transform: translate(0, -23%);
  transition: 0.5s ease;
}

.navigation .play-container .play-icon {
  color: var(--white) !important;
  transition: 0.5s ease;
}

.navigation .play-container:hover {
  background-color: var(--white);
}

.navigation .play-container:hover .play-icon {
    color: var(--red-main) !important;
}


/* App main styles */
.app-content-wrapper {
    width: 50%;
    height: max-content;
    font-family: var(--font) !important;
}

/* App header */
header {
    height: 80px;
}

.app-title-container h2 {
    font-size: 26px;
    font-weight: bold;
}

.app-title-container h2 span {
    color: var(--red-main);
}

.app-buttons-container a {
    text-decoration: none;
    color: var(--blue-main);
    padding: 3px 5px;
    position: relative;
}

.app-buttons-container a i {
    font-size: 25px;
}

.notification-dot {
    width: 11px;
    height: 11px;
    background-color: var(--red-main);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0%;
}

/* Responsive queries */

/* Mobiles */
@media screen and (max-width: 460px) {
    .navigation {
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        border: none !important;
    }
}