* {
  padding: 0;
  margin: 0;
}

:root {
  --red-main: #fb6d6c;
  --blue-main: #666f80;
  --blue-secondary: #c3c8d3;
  --white: #fff;
  --font: "Poppins", sans-serif;
}

body {
  font-family: var(--font);
  font-weight: 400;
}

main {
  position: absolute;
  min-height: 100%;
}

/* App navigation */
.navigation {
  width: 450px;
  height: 55px;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: var(--white);
}

.navigation a {
  color: var(--blue-main);
  text-decoration: none;
}

.navigation a i {
  font-size: 22px;
}

.navigation .profile-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.navigation .play-container {
  background-color: var(--red-main);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transform: translate(0, -23%);
  transition: 0.5s ease;
}

.navigation .play-container .play-icon {
  color: var(--white) !important;
  transition: 0.5s ease;
}

.navigation .play-container:hover {
  background-color: var(--white);
}

.navigation .play-container:hover .play-icon {
    color: var(--red-main) !important;
}


/* App main styles */
.app-content-wrapper {
    width: 50%;
    height: max-content;
    font-family: var(--font) !important;
}

/* App header */
header {
    height: 80px;
}

.app-title-container h2 {
    font-size: 26px;
    font-weight: bold;
}

.app-title-container h2 span {
    color: var(--red-main);
}

.app-buttons-container a {
    text-decoration: none;
    color: var(--blue-main);
    padding: 3px 5px;
    position: relative;
}

.app-buttons-container a i {
    font-size: 25px;
}

.notification-dot {
    width: 11px;
    height: 11px;
    background-color: var(--red-main);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0%;
}

/* App-hook section */
.app-hook-section {
    height: 100px;
}

.app-hook-section p {
    margin-bottom: 0 !important;
}

.app-hook-section .hook-title {
    font-weight: bold;
    font-size: 18px;
}

.app-hook-section a {
    padding: 10px 15px;
    width: 150px;
    height: 45px !important;
    text-decoration: none;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--red-main);
}

.app-hook-section a span {
    color: var(--blue-secondary);
}

/* App posts */

.app-posts-section {
    margin-bottom: 50px;
}

.posts-options {
    margin-bottom: 30px;
}

.posts-options .options {
    width: 50%;
}

.post {
    width: 50%;
    min-height: 550px;
    margin-bottom: 50px;
}

.post p {
    margin-bottom: 0 !important;
}

.post-info {
    height: 60px;
}

.owner-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.owner-username {
    font-size: 14px;
    font-weight: bold;
}

.verified-badge {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.post-createdAt {
    font-size: 12px;
    color: var(--blue-main);
    opacity: 0.7;
    margin-left: 15px;
}

.post-image {
    max-height: max-content;
    min-height: min-content;
}

.post-engagement {
    height: 50px;
}

.post-engagement i {
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;
}

.post-stats p {
    font-size: 14px;
}

.post-description .description-text {
    font-size: 14px;
}

/* Responsive queries */

/* Mobiles */
@media screen and (max-width: 460px) {
    .navigation {
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
    }
    .app-content-wrapper {
        width: 100%;
        border: none !important;
    }
    .app-title-container h2 {
        margin-left: 15px !important;
    }
    .app-buttons-container a {
        margin-right: 25px !important;
    }
    .app-hook-section {
        margin-bottom: 20px !important;
    }
    .app-hook-section .hook-title {
        display: none;
    }
    .options {
        width: 100% !important;
        border-bottom: none !important;
    }
    .posts-options {
        margin-bottom: 20px !important;
    }
    .options button {
        margin-left: 5px;
    }
    .post {
        width: 100%;
        border-bottom: none !important;
        margin-bottom: 0 !important;
    }
    .post-engagement {
        padding: 0 5px !important;
    }
    .post-stats {
        padding: 0px 5px !important;
    }
    .post-description {
        padding: 0 5px !important;
    }
}

@media screen and (max-width: 850px) {
    .app-content-wrapper {
        width: 100%;
    }
}